*{
    margin: 0;

    font-size: large;
    
}



#outputData{
    display: flex;
    justify-content: center;
    color: white;
    z-index: 11;  
}
[data-set-active = false]{
    display: none;
}
[data-set-active = true]{
    display: block;
}
#gif{
    position: absolute;
    height: 100%;
    width: 100%;
    
    z-index: -1;
}   
#loader{
    display: flex;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 100;
    just
}



#gifs{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    border-radius: 5%;
    
}
.outputContainer{
    
    background-color: rgba(0, 0, 0, 0.418);
    height: 20rem;
    width: 70%;
    text-align: center;
    z-index: 11;
    
}

#countryLabel, #cityLabel{
    color: rgb(255, 255, 255);
}

.listContainer{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.outputContainer > div{
    padding: 15px;
}

* > ul{
    list-style: none;
}
[data-container-all]{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#container{
    position: absolute;
    margin-top: 11vh;
    height: 30rem;
    width: 40rem;
    z-index: 10;
}

.header{
    position: absolute;
    top: 0px;
    
    height: 10vh;
    width: 100%;
    background-color: rgb(59, 59, 59);
    z-index: 5;
}

.footer{
    position: absolute;
    bottom: 0px;
    
    height: 10vh;
    width: 100%;
    background-color: rgba(39, 6, 6, 0.342);
    z-index: 5;
}