*{
    margin: 0;
}



#outputData{
    display: flex;
    border: 1px solid black;
    justify-content: center;
}
[data-set-active = false]{
    display: none;
}
[data-set-active = true]{
    display: block;
}
#gif{
    display: inline-flex;
    height: 10rem;
    width: 20rem;
    border: 2px solid black;
    
    z-index: 0;
}   

#gifs{
    display: flex;
    flex-direction: column-reverse;
    
    height: 89vh;
    
}
.outputContainer{
    border: 1px solid black ;
    height: 20rem;
    width: 70%;
    text-align: center;
    
}

#countryLabel, #cityLabel{
    color: rgb(0, 0, 0);
}

.listContainer{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.outputContainer > div{
    padding: 15px;
}

* > ul{
    list-style: none;
}
[data-container-all]{
    display: flex;
    justify-content: center;
}
#container{
    position: absolute;
    margin-top: 11vh;
    border: 1px solid black;
    height: 30rem;
    width: 40rem;
}

.header{
    position: absolute;
    top: 0px;
    border: 1px solid red;
    height: 10vh;
    width: 100%;
}

.footer{
    position: absolute;
    bottom: 0px;
    border: 1px solid red;
    height: 10vh;
    width: 100%;
}